#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Columbus
Exec=/usr/bin/chromium-browser --profile-directory=Default --app-id=acflgakdfihdjiddcniddojhigfdlhoi
Icon=chrome-acflgakdfihdjiddcniddojhigfdlhoi-Default
StartupWMClass=crx_acflgakdfihdjiddcniddojhigfdlhoi
